$titleFont: Arial, Helvetica, san-serif;
$bodyFont: "Times New Roman", Times, serif;

$backgroundBlue: rgb(142, 221, 221);
$lightBlue: rgb(219, 235, 235);
$darkGrey: rgb(95, 94, 94);


$largeSize: 30px;
$smallSize: 15px;